@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-success">Welcome Sonali IT</h1>
    <p>Learn about <a href="https://www.sonaliit.com/">Sonali IT for Pharmacy POS Software</a>.</p>
</div>
